* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav"
    "aside header header header"
    "aside main main main"
    "footer footer footer footer";
}

.nav {
    display: flex;
    grid-area: nav;
    justify-content: center;
}

.nav ul li {
    display: flex;;
    float: left;
    justify-content: space-evenly;
    padding-left: 2em;
}

.header {
    display: flex;
    padding: 2em;
    background-color: cyan;
    grid-area: header;
    justify-content: space-evenly;
}

.aside {
    background-color: yellowgreen;
    grid-area: aside;
}

.main {
    background-color: violet;
    grid-area: main;
}

.footer {
    background-color: magenta;
    grid-area: footer;
}