body {
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

.aside {
    display: none;
}

.nav {
    display: block;
    background-color: var(--black-bean);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.nav ul li {
    display: block;
    float: none;
}

.show-nav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.show-nav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}